@import "Checkout";

.navigation-bar {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 1fr;
  grid-template-rows: 100%;
  align-self: center;

  svg {
    color: rgb(12, 12, 12);
  }

  a {
    text-decoration: none;
    color: rgb(3, 3, 3);
  }
}

label.user-name {
  color: rgb(2, 2, 2);
}